@page
@model RazorPagesUI.Pages.Forms.AddAddressModel
@{
	ViewData["Title"] = "Add Address";
}

<h1>Add Address</h1>
<form method="post">
	<div class="form-group .padding-xs">
		<label asp-for="Address.StreetAddress" for="inputStreetAddress"></label>
		<input class="form-control" id="inputStreetAddress" type="text" asp-for="Address.StreetAddress" placeholder="Street Address" data-testid="input-StreetAddress" />
		<span asp-validation-for="Address.StreetAddress" class="text-danger" data-testid="inputError-StreetAddress"></span>
	</div>
	<br />
	<div class="form-group .padding-xs">
		<label asp-for="Address.City" for="inputCity"></label>
		<input class="form-control" id="inputCity" type="text" asp-for="Address.City" placeholder="City" data-testid="input-City" />
		<span asp-validation-for="Address.City" class="text-danger" data-testid="inputError-City"></span>
	</div>
	<br />
	<div class="form-group .padding-xs">
		<label asp-for="Address.State" for="inputState"></label>
		<input class="form-control" id="inputState" type="text" asp-for="Address.State" placeholder="State" data-testid="input-State" />
		<span asp-validation-for="Address.State" class="text-danger" data-testid="inputError-State"></span>
	</div>
	<br />
	<div class="form-group .padding-xs">
		<label asp-for="Address.ZipCode" for="inputZipCode"></label>
		<input class="form-control" id="inputZipCode" aria-describedby="zipCodeHelp" type="text" asp-for="Address.ZipCode" placeholder="Zip Code" data-testid="input-ZipCode" />
		<small id="zipCodeHelp" class="form-text text-muted" data-testid="inputHint-ZipCode">US based Zip code</small>
		<br />
		<span asp-validation-for="Address.ZipCode" class="text-danger" data-testid="inputError-ZipCode"></span>
	</div>
	<div class="alert alert-light.padding-xs">
		<a class="btn btn-secondary" asp-page="/Index" data-testid="button-Cancel">Cancel</a>
		<button type="submit" class="btn btn-primary" data-testid="button-Create">Create</button>
	</div>

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}
</form>
