@page
@model RazorPagesUI.Pages.Forms.AddUserModel
@{
	ViewData["Title"] = "Add User";
}

<h1>Add User</h1>

<form method="post">
	<div class="form-group .padding-xs">
		<label asp-for="User.Name" for="inputUserName"></label>
		<input class="form-control" id="inputUserName" type="text" asp-for="User.Name" placeholder="User Name" data-id="input-UserName" />
		<span asp-validation-for="User.Name" class="text-danger" data-id="inputError-UserName"></span>
	</div>
	<br />
	<div class="form-group .padding-xs .margin-xs">
		<label asp-for="User.YearOfBirth" for="inputYearOfBirth"></label>
		<input class="form-control" id="inputYearOfBirth" aria-describedby="yearOfBirthHelp" asp-for="User.YearOfBirth" placeholder="Year of Birth" data-id="input-YearOfBirth" />
		<small id="yearOfBirthHelp" class="form-text text-muted" data-id="inputHint-YearOfBirth">Adults only</small>
		<br />
		<span asp-validation-for="User.YearOfBirth" class="text-danger" data-id="inputError-YearOfBirth"></span>
		<div class="alert alert-light.padding-xs">
			<a class="btn btn-secondary" asp-page="/Index" data-id="button-Cancel">Cancel</a>
			<button type="submit" class="btn btn-primary" data-id="button-Create">Create</button>
		</div>

		@section Scripts {
			<partial name="_ValidationScriptsPartial" />
		}
	</form>


