@page
@model RazorPagesUI.Pages.Forms.AddUserModel
@{
	ViewData["Title"] = "Add User";
}

<h1>Add User</h1>
<form method="post">
	<input type="text" asp-for="User.UserName" placeholder="User Name" data-id="input-UserName" />
	<input type="text" asp-for="User.YearOfBirth" placeholder="Year of Birth" data-id="input-YearOfBirth" />
	<button type="submit" data-id="button-AddUser">Add User</button>
</form>

