@page "{id}"
@model RazorPagesUI.Pages.Forms.DeleteUserModel
@{
	ViewData["Title"] = "Delete User";

	// Set profile image or default noimage
	var img = Model.User?.ProfileImage is not null ? $"profileImages/{Model.User?.ProfileImage}" : "noimage.jpg";

	var profileImapgePath = $"~/images/{img}";
}

<h1>User delete confirmation</h1>

<div class="form-group">
	<img class="imageThumbnail" asp-append-version="true" src="@profileImapgePath" />
</div>
<br />
<div class="alert alert-danger">
	<h5>Are you sure you want to delete @Model.User.Name</h5>
	<form method="post">
		<a class="btn btn-secondary" asp-page="/Index" data-id="button-Cancel">Cancel</a>
		<button type="submit" class="btn btn-danger" data-id="button-Yes">Yes</button>
	</form>
</div>