@page "{id}"
@model RazorPagesUI.Pages.Forms.DeleteAddressModel
@{
	ViewData["Title"] = "Delete Address";
}

<h1>Address delete confirmation</h1>
 
<div class="alert alert-danger">
	<h5>Are you sure you want to delete address with '@Model.Address.StreetAddress' street</h5>
	<form method="post">
		<button type="submit" class="btn btn-danger" data-id="button-Yes">Yes</button>
		<a class="btn btn-primary" asp-page="/Index" data-id="button-No">No</a>
	</form>
</div>