@page "{id}"
@model RazorPagesUI.Pages.Forms.EditUserModel
@{
	ViewData["Title"] = "Edit User";

	var img = string.Empty;

	// Set new image as profile image if exists
	if (!string.IsNullOrEmpty(Model.User.NewProfileImage))
	{
		img = $"profileImages/{Model.User?.NewProfileImage}";
	}
	else
	{
		// Set profile image or default noimage
		img = Model.User?.ProfileImage is not null ? $"profileImages/{Model.User?.ProfileImage}" : "noimage.jpg";
	}

	var profileImapgePath = $"~/images/{img}";
}

<h1>Edit User</h1>

<form method="post" enctype="multipart/form-data" id="editUserForm">
	<input hidden asp-for="User.Id" />
	<input hidden id="profileImage" asp-for="User.ProfileImage" />
	<input hidden asp-for="User.NewProfileImage" value="@Model.User?.NewProfileImage" />
	<div class="form-group">
		<img class="imageThumbnail" asp-append-version="true" src="@profileImapgePath" />
	</div>
	<br />
	<div class="form-group">
		<div class="custom-file">
			<input type="file" asp-for="ProfileImage" class="custom-file-input form-control" />
		</div>
	</div>
	<br />
	<div class="form-group .padding-xs">
		<label asp-for="User.Gender" for="selectGender"></label>
		<div>
			<select asp-for="User.Gender" id="selectGender" class="custom-select custom-select-lg mb-3"
					asp-items="Html.GetEnumSelectList<Gender>()" data-testid="select-Gender">
			</select>
		</div>
	</div>
	<div class="form-group .padding-xs">
		<label asp-for="User.Name" for="inputUserName"></label>
		<input class="form-control input-sm" asp-for="User.Name" id="inputUserName" placeholder="User Name" data-testid="input-UserName" value="@Model.User.Name">
	</div>
	<br />
	<div class="form-group .padding-xs">
		<label asp-for="User.YearOfBirth" for="inputYearOfBirth"></label>
		<input class="form-control input-sm" asp-for="User.YearOfBirth" aria-describedby="yearOfBirthHelp" id="inputYearOfBirth" placeholder="Year of Birth" data-testid="input-YearOfBirth" value="@Model.User.YearOfBirth">
		<small id="yearOfBirthHelp" class="form-text text-muted">Adults only</small>
	</div>
	<div class="alert alert-light.padding-xs">
		<a class="btn btn-secondary" asp-page="/Index" data-testid="button-Cancel">Cancel</a>
		<button type="submit" class="btn btn-primary" data-testid="button-Update">Update</button>
	</div>

	@section Scripts {
		<script>
			$(document).ready(function () {
				$('.custom-file-input').on("change", function () {
					$("#editUserForm").submit();
					var fileName = $(this).val().split("\\").pop();
					$('#profileImage').attr('value', fileName).load(function () {
						this.width;
					});
				});
			});
		</script>
	}
	</form>

